<?xml version="1.0"?>
<configuration>
  <sitecore>
    <commands>
      <command name="testcore:testaction" type="Testcore.Website.Commands.TestCommand, Testcore.Website" />
      <command name="testcore:scdialog" type="Testcore.Website.Commands.SCDialogCommand, Testcore.Website" />  
  </commands>
  </sitecore>
</configuration>
